@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header and Navigation */
header ul li {
  @apply px-2 sm:px-1 text-sm;
}

.bg-primary h1 {
  color: #29D882;
}

.bg-primary {
  background-color: #1c1e1e;
}

.menu-btn {
  color: #29D882;
}

.mobile-nav {
  @apply fixed top-16 sm:top-12 bg-green-700 w-full h-1/2 left-0;
}

.mobile-nav li {
  @apply text-white font-bold text-sm p-3 border-b-2 border-white w-full text-center;
}

/* Secondary Background */
.bg-secondary {
  background-image: url(assets/bg-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  /* height: 100vh; */
}

/* Role Section */
.role {
  @apply w-full sm:w-80 border-b-2 border-black py-2;
  padding-bottom: 10px;
  margin: 0;
}

.role span {
  color: #29D882;
}

.bg-secondary img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 4px solid #5f716d;
  background-image: url(assets/background-hero.png);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 50px;
  background-color: #29D882;
  position: relative;
  top: -30px;
}

/* Hero Buttons */
.Hero-btns button {
  @apply bg-green-500 text-sm py-2 px-5 sm:py-3 sm:px-8 rounded-lg;
  font-weight: 600;
  cursor: pointer;
}

.Hero-btns button:hover {
  transition: 0.5s;
  transform: scale(1.05);
  color: whitesmoke;
  background-color: #38413f;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Header Buttons */
.hd-btns button {
  @apply bg-green-500 text-sm py-2 px-5 sm:py-3 sm:px-8 rounded-lg;
  font-weight: 600;
  cursor: pointer;
}

.hd-btns button:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


/* About Buttons */
.about-btns button {
  @apply bg-green-500 text-sm py-2 px-5 sm:py-3 sm:px-8 rounded-lg;
  font-weight: 600;
  cursor: pointer;
}

.about-btns button:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: whitesmoke;
  background-color: #38413f;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* List Items */
li:hover {
  color: #29D882;
  transition: 0.2s;
  transform: scale(1.1);
}

/* Social Media Icons */
.social-media {
  @apply flex space-x-3 text-2xl mt-5;
}

.social-media a:hover {
  color: rgb(18, 65, 158);
  transition: 0.2s;
  transform: scale(1.1);
}

/* About Section */
.about-ct {
  @apply md:w-1/2 sm:w-full space-y-4 p-3 ml-5;
}

.about-ct h2 {
  color: #29D882;
}

.about-all {
  background-color: #F0FCF9;
}

/* Projects Section */
.projects {
  @apply bg-cover h-auto sm:h-screen;
  background-image: url(assets/project-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.project-hd {
  color: #29D882;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.project-btn {
  @apply bg-green-500 w-40 text-sm py-3 rounded-lg;
  font-weight: 600;
  cursor: pointer;
}

.project-btn:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: white;
}

/* Project Images */
.project-img {
  @apply md:w-1/2 space-y-5 p-10 ml-10 mb-10;
}

.project-desc {
  @apply absolute left-0 right-0 bottom-0 top-0 bg-primary text-white py-20 opacity-0 duration-500 hover:opacity-100;
}

/* Contact Section */
.contact-all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29D882;
}

.contact-container {
  @apply flex flex-col items-center sm:flex-col p-5;
}

.contact-info, .contact-form {
  @apply w-full sm:w-full p-4;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-info {
  width: 30%;
  margin-right: 20px;
}

.contact-form {
  width: 70%;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  @apply w-full text-sm p-2;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  @apply bg-green-500 text-sm py-2 px-4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.contact-form button:hover {
  background-color: #45a049;
}

.info {
  margin-bottom: 10px;
}
html {
  scroll-behavior: smooth ;
}
